<h1>THIS IS PROFILE PAGE</h1>

<form action="/post/create" method="POST">
    <textarea name="content" id="" cols="30" rows="3"></textarea>
    <input type="submit" name="" value="POST" id="">
</form>