<h1>THIS IS SIGN UP PAGE</h1>

<form action="/user/create" method="POST">
    <input type="text" name="email"  placeholder="email"><br><br>
    <input type="text" name="name"  placeholder="name"><br><br>

    <input type="text" name="password" placeholder="password"><br><br>
    <input type="text" name="confirmpassword" placeholder="confirmpassword"><br><br>
    <input type="submit">
</form>